@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-neonGreen-400;
  font-family: system-ui, sans-serif;
}

@keyframes slideIn {
          from {
            opacity: 0;
            transform: translateY(-10px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        .animate-slideIn {
          animation: slideIn 0.3s ease-out;
        }